# MongoDB Connection String
MONGODB_URI=mongodb+srv://adminAdmin:MEqSRkjLzsdVVEYD@prjmonitoraapan.cbun2hq.mongodb.net/monitoraapan?authSource=admin&retryWrites=true&w=majority&appName=prjMonitoraApan

# Cloudinary Configuration
CLOUDINARY_URL=cloudinary://935284621842928:zEex3K4qXldL1D2ILs_Hd1rpGAQ@dohvljdtg

# Server Port
PORT=5000

# Environment
NODE_ENV=production
